<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hospital Profile</title>
        <!-- Material Icons -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <!-- External CSS -->
        <link rel="stylesheet" href="../css/style.css" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="flex flex-col items-center justify-center bg-[#fae5e5]">
        <!-- Navbar -->
        <%- include('./partials/navbar.ejs'); -%>
        <!-- Edit Option -->
        <% if (owner) { %>
        <div
            class="relative w-[90%] p-4 mt-6 bg-pink-500 border border-gray-300 rounded-lg font-[roboto]"
        >
            <p class="text-white">You are viewing this page as an owner.</p>
            <a href="/hospital/complete-your-profile/<%= hospital._id %>">
                <button
                    class="absolute px-4 py-2 font-bold text-white transition duration-300 bg-blue-500 rounded-md shadow-md edit-button top-2 right-4 hover:bg-blue-600"
                >
                    Edit Details
                </button>
            </a>
        </div>
        <% } %>
        <!-- Hospital Profile -->
        <main
            class="flex flex-col items-center justify-center font-[roboto] w-[90%] pb-6"
        >
            <div class="flex items-center justify-between w-full py-10">
                <div class="flex flex-col mt-0 gap-3 w-[50%]">
                    <h1 class="mb-5 text-5xl font-semibold">
                        Hospital Details
                    </h1>
                    <h3 class="text-4xl font-medium">
                        Hospital Name: <%= hospital.name %>
                    </h3>
                    <div class="flex flex-col gap-2 mt-2 text-2xl">
                        <p>Hospital Address: <%= hospital.address %></p>
                        <p>Hospital Phone Number: <%= hospital.phone %></p>
                        <p>Hospital Email Address: <%= hospital.email %></p>
                        <p>Hospital Website: <%= hospital.website %></p>
                    </div>
                </div>
                <div class="w-[36%]">
                    <img
                        class="rounded-lg"
                        src="<%= hospital.avatar %>"
                        alt="Hospital Image"
                    />
                </div>
            </div>
            <div class="flex flex-col w-full gap-10 py-10">
                <h1 class="text-4xl font-bold">Available Blood Groups</h1>
                <div class="flex flex-col items-center w-full">
                    <% if (availableBlood && availableBlood.length > 0) { %>
                    <table class="border w-[80%]">
                        <thead>
                            <tr class="border border-black">
                                <th
                                    class="px-4 py-2 text-center border border-black"
                                >
                                    Blood Group
                                </th>
                                <th
                                    class="px-4 py-2 text-center border border-black"
                                >
                                    Quantity
                                </th>
                                <th
                                    class="px-4 py-2 text-center border border-black"
                                >
                                    Last Updated
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% availableBlood.forEach(function(detail) { %>
                            <tr class="border">
                                <td
                                    class="px-4 py-2 text-center border border-black"
                                >
                                    <%= detail.type %>
                                </td>
                                <td
                                    class="px-4 py-2 text-center border border-black"
                                >
                                    <%= detail.quantity %>
                                </td>
                                <td
                                    class="px-4 py-2 text-center border border-black"
                                >
                                    <%= detail.lastUpdated %>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                    <p>No blood details available.</p>
                    <% } %>
                </div>
            </div>
            <div class="flex flex-col w-full gap-10 pt-10 pb-5">
                <h1 class="text-4xl font-bold">Statistics</h1>
                <div class="flex items-center justify-center w-full">
                    <div class="flex items-center justify-between w-[80%]">
                        <div
                            class="flex flex-col gap-7 p-7 border-2 border-black justify-center w-[300px]"
                        >
                            <p class="text-lg font-semibold">
                                Blood Donations Received
                            </p>
                            <p class="font-medium text-md">
                                <%= stats.totalReceivedDonations %>
                            </p>
                        </div>
                        <div
                            class="flex flex-col gap-7 p-7 border-2 border-black justify-center w-[300px]"
                        >
                            <p class="text-lg font-semibold">Lives Saved</p>
                            <p class="font-medium text-md">
                                <%= stats.livesSaved %>
                            </p>
                        </div>
                        <div
                            class="flex flex-col gap-7 p-7 border-2 border-black justify-center w-[300px]"
                        >
                            <p class="text-lg font-semibold">Success Rate</p>
                            <p class="font-medium text-md">
                                <%= stats.successRate %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('./partials/footer.ejs'); -%>
    </body>
</html>
